<li>
  <turbo-frame id="<%= dom_id todo, :edit %>">
    <%= form_with(model: todo,  data: { controller: "form-toggle" }) do |form| %>
      <%=tag.div class: "view", data: {controller: "inline-edit", action: "dblclick->inline-edit#render", "inline-edit-url-value": edit_todo_path(todo)} do %>
        <%= form.checkbox :completed, class: "toggle", data: { action: "form-toggle#submit" } %>
        <label><%=todo.title%></label>
      <%end%>
    <% end %>
    <%= button_to "", todo_path(todo), method: :delete, data: { "turbo-frame": "_top" }, class: "destroy" %>
  </turbo-frame>
</li>